# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# User-specific Xcode data
**/*.xcodeproj/xcuserdata/
**/*.xcworkspace/xcuserdata/

# SwiftPM
.build/
.swiftpm/

# Debug symbols / archives
*.dSYM
*.dSYM.zip
*.ipa

# Python venv
.venv/
.venv_food/

# Python / ML artifacts
.hf_cache/
*.pt
